# **Task 1**
# **Defining the Data Analysis Workflow** and **Understanding the Model and Data**

In [5]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys

# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

# Set max rows and columns to display
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

# Configure logging
from logger import SetupLogger
# Assuming this class is defined in scripts/
from preprocess import DataPreprocessor  

logger = SetupLogger(log_file='../logs/notebooks.log').get_logger()

# Set figure size
plt.figure(figsize=(12, 5))

# Load the data

In [7]:
# Set google drive url for loading the dataset
url = 'https://drive.google.com/file/d/1y9yWa296W108gvUC5RMiB51-yszgNc97/view?usp=sharing'

# Setup the data preprocessor class
processor = DataPreprocessor(url, logger=logger)
# Load the data
price_data = processor.load_data()

Downloading...
From: https://drive.google.com/uc?export=download&id=1y9yWa296W108gvUC5RMiB51-yszgNc97
To: /home/neba/Desktop/Data_Engineering/KAMI/Week-10/Brent-Time-Shift/data/data.csv
100%|██████████| 156k/156k [00:00<00:00, 464kB/s]
/home/neba/Desktop/Data_Engineering/KAMI/Week-10/Brent-Time-Shift/scripts/preprocess.py:51: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.data['Date'] = pd.to_datetime(self.data['Date'].str.strip(),  errors='coerce')

# Explore the data

In [8]:
# Explore the first 10 rows
price_data.head(10)

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63
5 1987-05-27  18.60
6 1987-05-28  18.60
7 1987-05-29  18.58
8 1987-06-01  18.65
9 1987-06-02  18.68

In [9]:
# Explore the last 10 rows
price_data.tail(10)

           Date  Price
9001 2022-11-01  95.12
9002 2022-11-02  96.07
9003 2022-11-03  95.29
9004 2022-11-04  99.53
9005 2022-11-07  99.87
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59